create database TaiChinhKinhDoanh
go
use TaiChinhKinhDoanh
go

create table hinh_nen
(
doi_tuong nvarchar](100),
nguon nvarchar(150)
) 
go

create table on_off
(
mode nvarchar(10)

) 
go

